*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}

.box{
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: calc(55% - 5px);
    cursor: pointer;
}

img{
    width: 100%;
    display: block; /* Per fixare i 4 pixel di default dell'inline block */
}



/* HEADER */
header {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

header .box{
    margin: 5px;
    border-radius: 8px;
}

header span{
    margin-left: 5px; 
    position: relative;
    bottom: 0.5px; 
}

/* MAIN */
main{
    height: calc(100vh - 155px);
    padding: 35px 0;
    
}

.main-wrapper{
    width: calc(100% - 190px);
    margin: auto;
    overflow-y: auto;
    height: 100%;
    position: relative;
    right: 3px; /* perché ho dato un margin-left di 3px alle img-box */
}

/* Uso questo div per far prendere alle immagini il 100% del main-wrapper meno la scrollbar */
.scrollbar-fix{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.img-box{
    width: calc((100% / 7) - 3px);
    margin: 0 0 9px 3px;
    position: relative;
}

.call-overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}


/* FOOTER */
footer{
    height: 95px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

footer > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

footer > div > *{
    cursor: pointer;
}

.footer-icon-box{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footer-icon-box i{
    margin-bottom: 5px;
}

.lime-icon-box i{
    color: #4bc800;
}

.left-footer{
    width: 9%;
}

.middle-footer{
    width: 35%;
}

.right-footer{
    width: 5%;
    background-color: #4a4a4a;
    color: red;
    justify-content: center;
    cursor: pointer;
}





