*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}

.box{
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: calc(55% - 5px);
}

/* HEADER */
header {
    border-bottom: 1px solid blue ;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

header .box{
    margin: 5px;
    border-radius: 8px;
}

header span{
    margin-left: 5px; 
    position: relative;
    bottom: 1px; 
}

/* MAIN */
main{
    height: calc(100vh - 155px);
    padding: 35px 0;
    
}

.main-wrapper{
    width: calc(100% - 190px);
    height: 200px;
    margin: auto;
    overflow-y: auto;
    height: 100%;
}

/* FOOTER */
footer{
    height: 95px;
    background-color: #222222;
}


/* TEST */
div:not(.box){
    border: 1px solid blue;
}
